.main{
    background-image: url("/img/bg-sign-in-basic.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
    height: "500px";
    width: "30%";
    border: "1px solid #e5e3d4";
    border-radius: "15px";
    background-color: "#f5f5f5";
}
