.main{
    background-image: url("/img/bg-sign-in-basic.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard{
    border:2px solid black;
    height:97vh;
    width:15%;
    margin:10px;
    border-radius: 20px;
    background-color: black;
}

.txt{
    color:white;
    text-align: center;
    cursor: pointer;
}

.side{
    border: 1px solid gray;
    height:60px;
    width:100%;
    margin:10px;
    border-radius: 20px;
    background-color:rgb(241, 236, 236);
}

.maindiv{
    display:flex;

}

.user{
    border: 1px solid gray;
    min-height:150px;
    width:100%;
    margin:10px;
    border-radius: 20px;
    background-color:rgb(241, 236, 236);
    display: flex;
    justify-content:space-between;
    
}

.combine{
    display: flex;
    flex-direction: column;
    width:100%;
}

